<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Rivals Replay Stats</title>
    </head>
    <style>
        h1 {
            text-align: center;
            font-family: arial;
            font-size: 500%;
        }
        form {
            text-align: center;
        }
        a {
            text-align: center;
        }
    </style>
    <body>
    </form>
        <h1>Rivals Replay Stats</h1>
        <form method="POST" enctype="multipart/form-data" action=".">
        <input type="file" name="file[]" webkitdirectory directory multiple="">
        <input type="submit" value="Upload"><br><br>
        <a href="https://www.github.com/SimonK5/replay-rollback">github.com/SimonK5/replay-rollback</a>
    </form>
    </body>
</html>